* {
  font-family: "Courier New", Courier, monospace;
}

input,
label {
  display: block;
  margin-top: 13px;
  width: 80%;
}

table {
  margin-top: 40px;
  width: 100%;
}

th {
  height: 30px;
  text-align: left;
}

#todo-list {
  cursor: pointer;
}
